<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @study.name %>
</p>

<p>
  <strong>Open closed:</strong>
  <%= @study.open_closed %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
